.usty {
    font-size: 50px;
    background-color: aqua;
    color: black;
}

.ortasy {
    font-size: 25px;
    background-color:black;
    color:aliceblue;
}

.asty {
    font-size: 10px;
    background-color: black;
    color:azure;
}